:root {
  --font-cinzel: "Cinzel", serif;
  --font-dosis: "Dosis", sans-serif;
  --font-titillium-web: "Titillium Web", sans-serif;
  --bacground-color: #e0dfdd;
  --secondary-background-color: #494b4b;
  --branding-font-color: #767676;
  --branding-detail-color: #bf9b30;
  --button-color: #888b8b;
}
body {
  text-align: center;
}

h1 {
  font-family: var(--font-cinzel);
  font-weight: 600;
  font-size: 85px;
}
h2 {
  font-family: var(--font-titillium-web);
  font-weight: 600;
  font-size: 50px;
}
h3 {
  font-family: var(--font-dosis);
  font-weight: 600;
  font-size: 44px;
}
h4 {
  font-family: var(--font-cinzel);
  font-weight: 600;
  font-size: 38px;
  opacity: 0.8;
  border-bottom: dotted 9px;
  border-color: var(--branding-detail-color);
  line-height: 1.5;
}
p {
  font-family: var(--font-titillium-web);
  font-size: 18px;
  margin: 20px;
}
nav li {
  list-style: none;
  display: inline;
  line-height: 42px;
  margin-left: 16px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav {
  padding: 15px 0;
}
nav a {
  text-decoration: none;
  color: var(--branding-font-color);
}
nav a:hover,
nav li.active a {
  color: var(--branding-font-color);
  font-weight: bolder;
  transition: 100ms all ease-in-out;
}
img {
  border-radius: 20px;
  max-height: 500px;
  margin: 10px 30px 10px 30px;
}
footer .footer-email {
  text-decoration: none;
  color: black;
  font-family: var(--font-dosis);
  font-weight: 600;
  font-size: 24px;
  transition: all 100ms ease-in-out;
}
footer .footer-email:hover {
  color: var(--branding-font-color);
}
.hero {
  background-color: var(--bacground-color);
  padding: 100px 20px;
  margin-bottom: 150px;
}
.logo {
  max-height: 60px;
}

.country-flag {
  margin: 30px 20px;
  border-radius: 50%;
  max-width: 50px;
  opacity: 0.2;
  filter: drop-shadow(10px 10px 10px grey);
  transition: all 140ms ease-in-out;
}
.country-flag:hover {
  max-width: 59px;
  opacity: 1;
}
.hero-buttons {
  display: flex;
  justify-content: center;
}

.btn-branding {
  background-color: var(--button-color);
  color: #f5f5f5;
  padding: 10px 20px;
  margin: 10px 30px;
  font-size: 20px;
  font-family: var(--font-titillium-web);
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.3);
}
.btn-branding-outline {
  background-color: var(--bacground-color);
  color: var(--branding-font-color);
  padding: 10px 20px;
  margin: 10px 30px;
  font-size: 20px;
  font-family: var(--font-titillium-web);
  font-weight: 600;
}

.pointer {
  font-size: 70px;
  color: var(--bacground-color);
}
.hero-bottom {
  background-color: #c7cece;
  margin-top: 100px;
}
.fa-brands {
  margin: 20px;
  padding: 15px 15px;
  border-radius: 50%;
  background-color: var(--bacground-color);
  color: var(--secondary-background-color);
  transition: all 100ms ease-in-out;
}
a .fa-brands:hover {
  background-color: var(--secondary-background-color);
  color: white;
}
.work-heading {
  margin-bottom: 70px;
}
.logo-img {
  max-height: 200px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 55px;
    margin: 20px 10px;
  }
  h2 {
    font-size: 34px;
    font-weight: 100;
  }
  h3 {
    font-size: 30px;
    font-weight: 100;
  }

  nav {
    display: block;
  }
  img {
    max-height: 250px;
    margin: 10px 0px 10px 0px;
  }
  .country-flag {
    max-width: 30px;
  }
  .logo {
    max-height: 50px;
  }
  .work h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .contact h1 {
    font-size: 40px;
    margin-bottom: -20px;
  }
  .logo-img {
    max-height: 120px;
  }
  .hero-bottom {
    border-radius: 10px;
  }
}
